nav{
    height: 70px;
    background-color: rgb(5, 5, 37);
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
}
nav h1{
    color: rgb(255, 0, 128);
    font-size: 40px;
}
nav a{
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
}
nav a:hover{
    background-color: rgb(247, 19, 133);
}